body{
    margin: 20px;
}
p{
    display: inline-block;
}
#p2{ 
    border-style: inherit;background-color:rgb(236, 235, 235);
    width:400px;height: 30px;
    padding:10px;
    text-align: right;
    border-radius: 20px;
}
#p1{
    padding: 10px 60px 10px 60px;  
}

#lo{
    padding: 0 0 0 400px;
}
a{
    text-decoration: none;
    margin: 60px 25px 10px ;
    padding:15px;
    display: inline-block;
}
#a1{
    border-style: solid;background-color:rgb(73,173, 116);
    color: white;
    width: 100px;height: 10px;
    text-align: center;
    border-radius: 25px;
}
#h1{
    color: rgb(73,173, 116);
    text-align: center;
}
div{
    vertical-align: baseline;
}
div1{
    display:inline-block;
}
#a2{
    margin:10px 10px 0 30px;
}
#a3{
    margin:10px 60px 0 50px ;
}
#a4{
    margin:10px 60px 0 30px;
}
#a5{
    margin:10px 60px 0 40px ;
}
#a6{
    margin: 10px 60px 0 50px;
}
#a7{
    margin: 10px 60px 0 60px;
}
#a8{
    margin: 10px 60px 0 70px;
}
#a9{
    margin: 10px 60px 0 40px;
}